/* Media Queries 1159px */
@media (max-width: 1159px) {
  /* body {
    position: fixed;
  } */
  .navigation {
    display: none;
  }

  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 0px 3fr;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 28px;
    margin-bottom: 13px;
    transition: all 0.3s ease;
  }

  .user-info a {
    margin-right: 5px;
  }

  .nav-item-modal {
    display: initial;
    text-align: left;
    padding-left: 20px;
  }
  .nav-item-modal {
    padding: 10px 20px; /* Adjust padding as needed */
    align-items: center;
  }

  .dropdown-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 28px;
  }

  .dropdown-content-modal {
    overflow-y: scroll;
    max-height: 300px;
    display: none;
    padding: 0px 20px 0px 35px;
  }

  .dropdown-content-modal div {
    padding: 10px 0;
    cursor: pointer;
  }

  .dropdown-icon-modal.active i {
    transform: rotate(180deg);
  }

  hr {
    margin: 10px auto;
    width: 80%;
  }
  .upgrade-section span::after {
    right: 25%;
  }

  .navigation-modal {
    overflow-y: auto;
    margin-right: 15px;
  }

  .modal::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  .modal::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 8px;
  }
  .navigation-modal::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .modal::-webkit-scrollbar {
    width: 5px;
  }
  .footer{
    padding:30px;
  }
  .footer-column-heading {
    width: max-content !important;
  }
  .footer-column-margin {
    margin-right: 20px !important;
  }
  ul li a.line-heights {
    line-height: 1.2;
  }
}

/* Media Queries 768px */
@media (max-width: 768px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr;
  }

  header {
    padding: 0 0 0 30px;
  }

  .left-panel {
    display: none;
  }

  .left-panel-main {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
  }

  .left-panel-main2 {
    display: flex;
    background: #fff !important;
  }

  .left-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
  }
  .vertical-line {
    width: 1px;
    height: 80%;
    background-color: #e4e5e7;
    background: rgba(0, 0, 0, 0.1);
    margin: auto 0;
  }

  .left-panel div {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around !important;
    margin-bottom: 20px !important;
    width: 100% !important;
  }
  .left-panel div {
    width: 100%;
  }

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    gap: 3px;
  }

  .online-status2 {
    position: absolute;
    bottom: 26px;
    left: 148px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1dbf73;
  }

  .level-info,
  .success-score,
  .rating,
  .response-rate,
  .level-overview {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    width: 100%;
  }

  .level-info span,
  .success-score span,
  .rating span,
  .response-rate span,
  .level-overview span {
    padding: 0 30px;
  }

  .user-info a {
    margin-left: 40px;
  }
  .header-section.user-info .icon {
    padding: 10px 4px;
  }

  .earnings-section {
    padding: 30px 0;
    margin: 13px 20px;
  }
  .earnings-info {
    justify-content: center;
  }
  .earnings-info span {
    padding: 0 5px;
  }
  .level-overview button {
    width: 190px;
    padding: 10px 0;
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .inbox-section {
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 28px 15px;
    margin: 13px 20px 0px 20px;
  }

  .client-section {
    max-width: 100%;
    overflow-y: auto;
    margin: 0 20px 3px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .top-info {
    justify-content: space-between;
    width: 574px;
  }
  .time {
    margin-left: 395px;
  }
  .client-name-i {
    font-size: 16px;
    color: #e4e5e7;
  }
  .email-icon {
    margin-left: 421px;
  }
  .info-box {
    padding: 7px 0;
    margin-right: 20px;
  }
  .btns-container a {
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    margin-bottom: -40px;
  }
  .footer-columns {
    flex-wrap: wrap;
  }
  .footer-column h6 {
    margin: 20px 0;
  }

  .footer-column:last-child {
    flex: 0 0 65%;
  }

  .footer-right {
    justify-content: flex-start;
    gap: 10px;
    margin-left: -15px;
  }
}
/* Media queries min-width 599px */

@media (max-width: 599px) {
  header {
    max-width: 599px !important;
    width: 100% !important;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }

  .hamburger {
    margin-right: 30%;
    margin-left: 30px;
    font-size: 27px;
  }

  .header-section.user-info,
  .left-panel-main2 {
    display: none;
  }

  .left-panel,
  .left-panel-header,
  .left-panel-main3,
  .left-panel-main,
  /* .client-section, */
  .middle-panel-main,
  .right-panel-main,
  .footer-container,
  .order-box {
    width: 100% !important;
    max-width: 599px !important;
    overflow: hidden;
    margin-top: 10px;
  }

  .left-panel-main3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .user-info3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 599px;
    padding: 5px 25px;
  }
  .online-status2 {
    position: absolute;
    bottom: 171px;
    left: 54px;
    width: 4px;
    height: 4px;
  }
  .btn-online-status {
    padding: 3px 15px;

    border-radius: 50px;
    color: #1dbf73;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #1dbf73;
  }

  .user-info3 img {
    margin-left: 0px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  .user-info3 a {
    font-size: 18px;
    color: #62647d;
    font-weight: 600;
    text-decoration: none;
    margin-left: 25px;
  }
  .modal {
    width: 53.5%;
  }

  .level-info,
  .success-score,
  .rating,
  .response-rate,
  .level-overview {
    display: flex;
    padding: 10px 0;
    width: 599px;
    justify-content: space-between;
  }
  .level-info span,
  .success-score span,
  .rating span,
  .response-rate span,
  .level-overview span {
    padding: 0 60px;
  }
  .level-overview button {
    width: 515px;
    padding: 10px 0;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  hr {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .time {
    margin-left: 235px;
  }

  .top-info {
    justify-content: space-between;
    width: 417px;
  }

  .email-icon {
    margin-left: 294px;
  }
  .earnings-section {
    padding: 20px 13px;
  }
  .earnings-info {
    justify-content: space-between;
  }
  .orders-box {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 24px;
    padding-left: 6px;
    flex-direction: column;
    background: #f5f5f5;
    border: none;
  }
  .left-orders h3 {
    margin: 2px 0;
  }

  .dropdown-btn{
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  .upgrade-section span::after {
    right: 17%;
}

.icons-on-fiverr ul {
  flex-direction: column;
  padding: 5px 0 15px 0;
  gap: 40px;
 
}
.icons-on-fiverr,
.icons-on-fiverr li i{
  margin: 0;
  padding: 0;
}

.top-seller-on-fiverr li {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  margin: 0;
}

.ket-text{
  margin-bottom: 10px;
}

.circle{
  top: 8%;
}

.footer{
  margin-top: -13px;
}

.footer-columns{
  display: none;
} 
 /* 
.footer-mobile-columns{
  display:initial;
}

 .footer-head, .dis-none{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 15px;
}  

.footer-mobile-column h6 {
  color: #404145;
  font-size: 16px;
  margin: 0;
}

.footer-mobile-column ul {
  list-style: none;
  padding: 0;
}

.footer-mobile-column ul li a {
  font-size: 17px;
  font-weight: 500;
  color: #74767e;
  line-height: 2.5;
  text-decoration: none;
}

.footer-mobile-column ul li a:hover {
  text-decoration: underline;
}
.dropdown-content-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  border: none;
  box-shadow: none;
  z-index: 10;
} */

/* 24/9/24  */
/* .footer-mobile-columns {
  display: block;
}

.footer-mobile-column {
  position: relative;
  margin-bottom: 20px; 
} */
.footer-mobile-column {
  position: relative; /* This makes the positioning context for the absolute children */
}

.dropdown-content-mobile {
  display: none; /* Initially hidden */
  position: absolute;
  width: 100%; /* Adjust width as necessary */
  background-color: white; /* Background color for visibility */
  z-index: 1000; /* Ensures it appears on top of other content */

}

.dropdown-content-mobile.active {
  display: block; /* Display the dropdown */
}


.footer-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 0 15px;
}

.footer-mobile-column h6 {
  color: #404145;
  font-size: 16px;
  margin: 0;
}

.footer-mobile-column ul {
  list-style: none;
  padding: 0;
  margin-top: 10px; /* Space between h6 and dropdown */
}

.footer-mobile-column ul li a {
  font-size: 17px;
  font-weight: 500;
  color: #74767e;
  line-height: 2.5;
  text-decoration: none;
}

.footer-mobile-column ul li a:hover {
  text-decoration: underline;
}

/* .dropdown-content-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%; 
  background: white; 

  z-index: 10;
} */

.fa-angle-down {
  transition: transform 0.3s ease;
}

.fa-rotate-180 {
  transform: rotate(180deg);
}


.footer-left,
.footer-right{
  flex-direction: column;
  gap: 0px;
}

.footer-right ul{
 margin: 0; 
}

}
