body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0px 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 80px;
  align-items: center;
}
.hamburger {
  display: none;
}

.header-section {
  display: flex;
  align-items: center;
}
.header-section.logo {
  text-align: center;
  padding: 10px;
}

.header-section.logo img {
  width: 125px;
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
  cursor: pointer;
}

.navigation .nav-item {
  margin-right: 20px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  color: #62647d;
  font-weight: 600;
  padding: 15px 10px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: #f5f5f5;
}
.dropdown-icon {
  cursor: pointer;
  user-select: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  padding: 10px 0px;
  color: #62646a;
  font-weight: 500;
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 5px;
  width: 202px;
  z-index: 1;
}

.dropdown-content hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 100%;
}
.dropdown-content div {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #f5f5f5;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.header-section.user-info {
  font-size: 18px;
  color: #333;
  margin-left: auto;
  gap: 12px;
  padding: 10px 5px;
}

.header-section.user-info .icon {
  margin-right: 0px;
  font-size: 20px;
  cursor: pointer;
  color: rgba(116, 118, 126, 0.8);
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}
.icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 14px;
  transform: translateX(-50%);
  visibility: hidden;
  width: auto;
  background-color: #444546;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  z-index: 1;
  margin-top: 8px;
  white-space: nowrap;
}
.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%; /* Position the ::after above the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent; /* Arrow pointing up */
}

.icon:hover .tooltip {
  visibility: visible;
}

.icon:hover {
  background-color: #f5f5f5;
}

.user-image .image-wrapper {
  position: relative;
  display: inline-block;
}

.user-image img {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.user-image .online-status {
  position: absolute;
  bottom: 0;
  right: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1dbf73;
  border: 3px solid white;
}

.user-image .hover-info {
  display: none;
  position: absolute;
  bottom: -19px;
  left: 70px;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  border: 1px solid rgb(60, 59, 59);
  padding: 4px 8px;
  white-space: nowrap;
  border-radius: 1px;

  font-size: 12px;
}

.user-image .image-wrapper:hover .hover-info {
  display: block;
}
.user-image .hover-info {
  transition: opacity 0.3s;
  opacity: 0;
}

.earnings {
  border: 1px solid #62647d;
  padding: 1px 2px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  transition: border-color 0.3s;
  margin: 0 10px 0 20px;
}
.earnings span:hover {
  border-color: #62647d;
  cursor: default;
  text-decoration: underline;
}

/* 599px styles */
.left-panel-main3 {
  display: none;
}

/* 6/9/2024 */
/* Base styles for 1159PX */
.modal {
  display: none;
  position: fixed;
  top: 10px;
  left: 0;
  width: 28.5%;
  height: 100%;
  background-color: white;
  z-index: 1000;
}

.modal-content {
  text-align: center;
}
.user-info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  margin-bottom: 30px;
  gap: 7px;
}

.user-info-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;
}

.user-info-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-name-modal {
  text-align: left;
  font-size: 16px;
  margin-bottom: 5px;
}
.user-mail-modal {
  font-size: 14px;
  color: #74767e;
  text-align: left;
  text-decoration: none;
}

.nav-item-modal,
.dropdown-modal {
  display: none;
  text-align: left;
  padding-left: 20px;
}

/* Styling for individual panels, optional */
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 60px 3fr;
  gap: 2px;
  padding: 20px;
}

.left-panel-main2 {
  display: none;
  /* code for 768px */
}

.left-panel {
  background-color: white;
  padding: 20px;
  color: #74767e;
  margin-bottom: 20px;
  border: 1px solid rgba(204, 204, 204, 0.5);
}

.left-panel div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-info {
  align-items: center;
  justify-content: start;
}

.user-info img {
  margin-left: 0px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.user-info a {
  font-size: 18px;
  color: #62647d;
  font-weight: 600;
  text-decoration: none;
  margin-right: 75px;
}

.font-weight-bold {
  font-weight: 600;
  font-size: 14px;
}

.fa-star {
  color: #333;
  font-size: 12px;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 98%;
  margin: 20px auto;
}

.level-overview button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
  color: #222325;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.level-overview button:hover {
  background-color: #f5f5f5;
}

/* earnings section */
.earnings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px 20px 10px 20px;
  background: #fff;
  border: 1px solid rgba(204, 204, 204, 0.5);
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.earnings-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #74767e;
  margin-bottom: 10px;
}

.earnings-hover-info {
  display: none;
  position: absolute;
  background-color: #444546;
  color: white;
  padding: 10px;
  width: 100%;
  bottom: 100%;
  left: 0;
  text-align: center;
  z-index: 10;
}

.earnings-section:hover .earnings-hover-info {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  font-weight: 600;
}

.earnings-section:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #444546 transparent transparent transparent; /* Arrow pointing up */
  z-index: 11;
}
.font-weight-info {
  font-weight: 600;
  font-size: 16px;
}

.inbox-section {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  background: #fff;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-bottom: none;
  margin-bottom: 3px;
}

.inbox-section .view-all {
  color: #446ee7;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.inbox-section .inbox-text {
  color: #74767e;
}
/* client section */

.client-section {
  height: 400px;
  max-width: 310px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #c1c1c1 #f5f5f5;
  scrollbar-width: 10px;
  background-color: #f1f1f1;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-right: none;
  border-top: none;

  transition: all 0.3s;
}
.client-section:hover {
  scrollbar-color: #979797 #f5f5f5;
}

.client {
  display: flex;
  align-items: center;
  line-height: 1.8;
  background: #fff;
  padding: 10px 13px;
  margin-bottom: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.client:hover {
  background-color: #f5f5f5;
}

.client-image {
  position: relative;
  margin-right: 10px;
}

.client-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}

.client-image .status {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 31px;
  bottom: 7px;
  border: 2px solid white;
}
.client-image .status-offline {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  left: 31px;
  bottom: 7px;
  border: 2px solid white;
}

.client-info {
  display: flex;
  flex-direction: column;
}

.top-info {
  display: flex;
  align-items: center;
}

.client-name,
.time,
.urgent-info {
  color: #62646a;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 3px;
}
.time {
  color: #b5b6b8;
  font-weight: lighter;
  margin-left: 7px;
  padding-left: 3px;
}
.urgent-info {
  font-size: 14px;
  color: #74767e;
  font-weight: 400;
  width: max-content;
}

.email-icon {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 48px;
}

.email-icon i {
  opacity: 0;
  color: #b5b6b8;
  transition: all 0.3s ease;
}

.client:hover .email-icon i {
  visibility: visible;
  opacity: 1;
}

.tooltip-client {
  visibility: hidden;
  width: 130px;
  background-color: #444546;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 3px;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 10%;
  margin-left: -140px;
  opacity: 0;
  transition: opacity 0.3s;
}

.email-icon:hover .tooltip-client {
  visibility: visible;
  opacity: 1;
}

.tooltip-client::after {
  content: "";
  position: absolute;
  bottom: 35%;
  left: 104%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #444546;
}

.middle-panel {
  background-color: #f5f5f5;
}
/* for the right panel */
.right-panel {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
  margin: -30px 0px -26px 0;
}

.info-box h4 {
  color: #404145;
  font-size: 24px;
  font-weight: 600;
}

.info-box p {
  color: #74767e;
  margin-bottom: 18px;
  margin-top: -25px;
  font-weight: 500;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 17px 30px 8px 20px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.left-content span {
  color: #222325;
  font-size: 16px;
  font-weight: 600;
}

.left-content p {
  color: rgba(116, 118, 126, 0.7);
  font-weight: 600;
  margin-top: 12px;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: #74767e;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  padding: 7px 10px;
  transition: background-color 0.3s;
}

.icon:hover {
  background-color: #f5f5f5;
}

.orders-box {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px 20px;
  margin-bottom: 24px;
  align-items: center;
}

.left-orders {
  display: flex;
  align-items: center;
  gap: 5px;
}

.left-orders h3,
.left-orders span {
  color: #222325;
  font-size: 18px;
}

.left-orders span {
  color: #95979d;
  font-weight: 600;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 500;
  color: #62646a;
  padding: 12px 20px;
  gap: 5px;
  background: none;
  cursor: pointer;
}

.dropdown-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.rotate-icon {
  transition: transform 0.3s;
}
.vanish {
  opacity: 0;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;

  border: 1px solid #ccc;
  z-index: 10;
}

.dropdown-content button {
  background: none;
  border: none;
  padding: 25px;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #62646a;
}

.dropdown-content button:hover {
  background-color: #f5f5f5;
}
.rotate-icon.rotated {
  transform: rotate(360deg);
}

.upgrade-section {
  text-align: start;
  position: relative;
}

.upgrade-section span {
  color: #62646a;
  font-weight: 600;
  font-size: 15px;
}

.upgrade-section span::before,
.upgrade-section span::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50%;
  height: 2px;
  background-color: lightgrey;
  transform: translateY(-150%);
  transition: right 0.3s ease;
}

.upgrade-section span::before {
  right: 0%;
}

.upgrade-section span::after {
  right: 30%;
}

/* Top Seller on Fiverr */

.top-seller-on-fiverr {
  margin-top: 15px;
  background-color: #fff;
  padding: 0px 30px 50px 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.top-seller-on-fiverr h4 {
  color: #404145;
  font-size: 24px;
  margin-bottom: 0.5em;
}

.top-seller-on-fiverr p {
  color: #666;
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
}

.top-seller-on-fiverr ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.top-seller-on-fiverr li {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
}

.fa-solid,
.fa-regular {
  margin-right: 5px;
}

.key-title,
strong {
  font-weight: bold;
  color: #333;
}

.key-text {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #666;
}

.icons-on-fiverr {
  margin-top: 20px;
  background-color: #fff;
  padding: 0px 20px;
  border-radius: 5px;
}

.icons-on-fiverr ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 0;
}

.icons-on-fiverr li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; /* Distributes space equally */
  margin: 10px;
}

.icons-on-fiverr li i {
  font-size: 30px;
  margin-bottom: 10px;
}

.fa-solid,
.fa-regular {
  margin-right: 5px;
  color: #6f7073;
  font-weight: lighter;
}

.key-title,
strong {
  font-weight: bold;
  color: #404145;
}

.key-text {
  font-size: 0.9em;
  color: #666;
  line-height: 1.5;
  margin-bottom: auto;
}

.key-link {
  color: #446ee7;
  text-decoration: none;
  font-weight: bold;
}

.btns-container {
  margin-top: auto; /* Aligns buttons to the bottom */
}

.btns-container a {
  background-color: #fff;
  color: #446ee7;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #446ee7;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.btns-container a:hover {
  background-color: #3f63c8;
  color: #fff;
}
/* banner carousel */
.banner-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -70px;
  margin-left: 22px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 400%; /* Adjust based on the number of slides */
}

.slide {
  width: 25%; /* Adjust based on the number of slides */
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}

.slide img {
  width: 100%;
  display: block;
}
img {
  height: 300px;
  width: auto;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(142, 139, 139);
  bottom: 15%;
}

/* Adjusting the gap and stathe crting position of circles */
.slide .circle:nth-child(2) {
  left: 5%;
}
.slide .circle:nth-child(3) {
  left: calc(5% + 20px);
} /* Slightly reduced gap */
.slide .circle:nth-child(4) {
  left: calc(5% + 40px);
}
.slide .circle:nth-child(5) {
  left: calc(5% + 60px);
}

.white {
  background-color: white;
}

/* footer */

.footer {
  background-color: #fff;
  padding: 40px;
  margin-top: 50px;
}
/* .display-none{
  display: none;
} */
 .footer-mobile-columns,
 .footer-mobile-column {
  display: none;
 }



.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column h6 {
  color: #404145;
  font-size: 16px;
  margin: 20px auto;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  font-size: 17px;
  font-weight: 500;
  color: #74767e;
  line-height: 2.5;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}
.footer-line {
  border-top: 1px solid #dedede;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  margin: 0 auto; /* Center the line */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: #fff;
  margin-bottom: -50px;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-left {
  gap: 20px;
}

.copyright {
  color: #74767e;
  font-size: 14px;
}

.footer-right {
  justify-content: space-evenly;
  margin-right: -17px;
}

.footer-right ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-right ul li a {
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  padding: 8px 10px;
  transition: background-color 0.3s ease;
}

.footer-right ul li a svg {
  fill: #74767e;
  transition: all 0.3s ease;
}

.footer-mobile{
  display: none;
}

.footer-right ul li a:hover {
  background-color: #f1f1f2;
}
.button-container {
  display: flex;
}

.language-button,
.currency {
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 40px;
  transition: background-color 0.3s;
  color: #74767e;
  font-weight: 700;
}

.info-button {
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 40px;
  transition: background-color 0.3s;
}

.language-button:hover,
.currency:hover {
  background-color: #f1f1f2;
}
.info-button:hover {
  background: #f1f1f2;
  border-radius: 50px;
  border: none;
  outline: none;
}

.key-icon-img {
  height: 45px;
  width: 45px;
  object-fit: contain;
}

/* logo bottom */
#logo-container {
  position: fixed;
  right: 37px;
  bottom: 30px;
}

#logo {
  width: 45px;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
